{% extends "base.html" %}

{% block body %}
<h1 class="text-center m-4">Add Student</h1>
{% if success %}
<div class="alert alert-success" role="alert">
    student added sucessfully
    <a href="{% url 'index' %}" class="alert-link">Go to Home Page.</a>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header">Student Registration</div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>

            </div>
          </div>
    </div>
</div>
    {% endif %}
{% endblock %}
